@import './base/reset';
@import './utils/variables';
@import './base/typography';
@import './components/animations';
@import './components/menu';


body{
    background: $backgroundMain;
    
    header{
        font-family: $homepageMain;
        min-height: 100vh;
        .hero-section{
            width: 100%;
            margin: 0 0 0 13rem;

            .decor{
                font-family: $decor;
                font-size: $fs-26;
                color: $decorText;

                &:nth-child(1){
                    margin: 0px 0px 5px 20px;
                    padding: 20px 0px 0px;
                }
                &:nth-child(2){
                    padding: 0px 0px 5px 30px;
                }
            }
            
            .title{
                position: absolute;
                top: 40%;
                transform: translateY(-50%);
                margin-left: 60px;

                .decor{
                    padding-left: 10px;

                    &:nth-child(1){
                        margin-left: 0;
                    }
                    &:nth-child(2){
                        display: block;
                    }
                }

                h1{
                    color: $logoName;
                    font-size: $fs-64;
                    font-weight: 700;
                    padding-left: 30px;

                    .fixed{
                        animation: none;
                        color: $logoText;
                        text-shadow: -10px 0 0 $logoShadow;
                        padding-left: 6px;
                    }
                    .animated{
                        cursor: default;
                        display: inline-block;
                        

                    }
                    .bounce{
                        animation: bubble 1s linear 1;
                    }
                }
                h2{
                    color: $logoJob;
                    font-size: $fs-14;
                    padding-left: 30px;
                }

                .contact{
                    display: inline-block;
                    margin-top: 20px;
                    padding: 10px 20px;
                    font-size: $fs-24;
                    color: $logoShadow;
                    text-decoration: none;
                    border: solid 2px $logoShadow;
                }

            }
        }
    }
}