// Colors

// Backgrounds

$backgroundMain: #1d1d1d;
$backgroundMenu: #181818;
$backgroundLogo: #000;

// lines

$menuLine: #282828;

// Text

$logoText: #dc143c;
$logoShadow: #45dea5;
$logoName: #fff;
$logoJob: #b4b4b4;

$menuText: $logoJob;

$hoverButton: #08fdd8;

// Fonts
$homepageMain: 'Raleway';

/* Font-size */
/* De base : 1rem = 16px */

$fs-12: 0.75rem;
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-22: 1.375rem;
$fs-24: 1.5rem;
$fs-26: 1.625rem;
$fs-40: 2.5rem;
$fs-42: 2.625rem;
$fs-64: 4rem;
$fs-72: 4.5rem;
