/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/* Font-size */
/* De base : 1rem = 16px */
@keyframes bubble {
  20%,
  50%,
  80%,
  to {
    transform: scale(1, 1); }
  40% {
    transform: scale(1.75, 0.65); }
  45% {
    transform: scale(1.75, 0.65); }
  70% {
    transform: scale(1.25, 0.75); }
  90% {
    transform: scale(1.15, 0.85); } }

body {
  background: #1d1d1d; }
  body header {
    font-family: "Raleway";
    min-height: 100vh; }
    body header .menu {
      background: #181818;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 13rem;
      height: 100vh;
      position: fixed; }
      body header .menu .logo {
        background: #000;
        padding: 15px 5px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0; }
        body header .menu .logo p {
          text-align: center;
          display: block;
          padding: 0px 0px 3px; }
          body header .menu .logo p:nth-child(1) {
            color: #dc143c;
            text-shadow: -13px -7px #45dea5;
            font-size: 4.5rem;
            text-align: center;
            font-weight: 600; }
          body header .menu .logo p:nth-child(2) {
            color: #fff;
            font-size: 1.375rem; }
          body header .menu .logo p:nth-child(3) {
            color: #b4b4b4;
            font-size: 0.875rem; }
      body header .menu nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        width: 100%; }
        body header .menu nav a {
          text-decoration: none;
          display: block;
          width: 100%;
          line-height: 50px;
          text-align: center;
          color: #b4b4b4;
          transition: color .3s ease-out; }
          body header .menu nav a::before {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #282828; }
          body header .menu nav a:nth-last-child(1)::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #282828; }
          body header .menu nav a:hover {
            color: #08fdd8; }
    body header .hero-section {
      width: 100%;
      margin: 0 0 0 13rem; }
      body header .hero-section .title {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        margin-left: 60px; }
        body header .hero-section .title h1 {
          color: #fff;
          font-size: 4rem;
          font-weight: 700; }
          body header .hero-section .title h1 .fixed {
            animation: none;
            color: #dc143c;
            text-shadow: -10px 0 0 #45dea5;
            padding-left: 6px; }
          body header .hero-section .title h1 .animated {
            cursor: default;
            display: inline-block; }
          body header .hero-section .title h1 .bounce {
            animation: bubble 1s linear 1; }
        body header .hero-section .title h2 {
          color: #b4b4b4;
          font-size: 0.875rem; }
